{% extends 'base_page.html' %}
{% load static %}
{% block pagetitle %} Добавляем в словарь {% endblock %}
{% block content %}
<style>
  .error-msg {
    color: red;
    display: none;
  }
</style>
<div class="container" id='add_word'>
    <h1 class="center-align">Добавьте новое слово</h1>
    <form method="post" accept-charset="utf-8" action="adding_word/">
        {% csrf_token %}

<div class="input-field col s6">
    <input id="input_word" name="input_word" type="text" data-length="50" value="{{ word|default:''}}" required>
    <label for="input_word">Слово</label>
    <p>{{ error_message }}</p>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <textarea id="input_translate" name="input_translate" class="materialize-textarea" data-length="256" required>{{ translate }}</textarea>
            <label for="input_translate">Перевод и значение</label>
          </div>
        </div>
        <div class="center-align">
             <button class="btn waves-effect waves-light" type="button" onclick="window.location.href='/dictionary_fill/'">Назад
            <i class="material-icons left">arrow_back</i>
          </button>
          <button class="btn waves-effect waves-light" type="submit" name="action">Сохранить
            <i class="material-icons right">arrow_forward</i>
          </button>

        </div>
    </form>
{% endblock %}
