{% extends 'base_page.html' %}
 {% load static %}
{% block pagetitle %} Администрирование в LinguaLern {% endblock %}

{% block content %}
    <div class="container">
        <h1 class="center-align">Авторизация</h1>
        <form method="post" accept-charset="utf-8" action="/authentication/">
            {% csrf_token %}
            <div class="input-field">
                <input type="text" name="username" id="username" required>
                <label for="username">Имя пользователя</label>
            </div>
            <div class="input-field">
                <input type="password" name="password" id="password" required>
                <label for="password">Пароль</label>
            </div>
            <div class="center-align">
                <button class="btn waves-effect waves-light" type="submit" name="action">Войти</button>
            </div>
        </form>
    </div>

{% endblock %}