{% extends 'base_page.html' %}
{% block pagetitle %} Авторизация в LinguaLern {% endblock %}

{% block content %}
    <div class="container">
        <h4 class="center-align">Авторизация</h4>
        <form method="post" accept-charset="utf-8" action="/validate_password/">
            {% csrf_token %}
            <p>{{ error_message }}</p>
            <div class="input-field">
                <input type="text" name="email" id="email" required>
                <label for="email">Имя пользователя</label>
            </div>
            <div class="input-field">
                <input type="password" name="password" id="password" required>
                <label for="password">Пароль</label>
            </div>
            <div class="center-align">
                <button class="btn waves-effect waves-light" type="submit" name="action">Войти</button>
            </div>
        </form>
    </div>

{% endblock %}

