<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <title>Авторизация</title>
    <!-- Подключение стилей Materialize -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
</head>
<body>
    <div class="container">
        <h1 class="center-align">Авторизация</h1>
        <form method="post" accept-charset="utf-8" action="/authentication/">
            {% csrf_token %}
            <div class="input-field">
                <input type="text" name="username" id="username" required>
                <label for="username">Имя пользователя</label>
            </div>
            <div class="input-field">
                <input type="password" name="password" id="password" required>
                <label for="password">Пароль</label>
            </div>
            <div class="center-align">
                <button class="btn waves-effect waves-light" type="submit" name="action">Войти</button>
            </div>
        </form>
    </div>

    <!-- Подключение скриптов Materialize -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>
</html>
