{% extends 'base_page.html' %}
{% load static %}

{% block pagetitle %} LinguaLern - изучай язык просто {% endblock %}

{% block authlink %}
<ul class="right hide-on-med-and-down">
  <a id="logo-container" href="/user_auth/" class="brand-logo" style="box-shadow: none"> <!-- TODO: Изменить ссылку после подбора интересной-->
        <img src="{% static 'img/key.png' %}" alt="Авторизация" width="60" height="55" style="margin-top: 0px;"/>
        </a>
      </ul>
 {% endblock %}

{% block content %}


  <div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <br><br>
        <h1 class="header center black-text text-lighten-2">LinguaLern </h1>
        <div class="row center">
          <h5 class="header col s12 light ">Делаем изучение языков доступным для всех, вдохновляя к новым свершениям </h5>
        </div>
        <div class="row center">
          <a href="/register/" id="download-button" class="btn-large waves-effect waves-light teal lighten-1">Начать обучение</a>
        </div>
        <br><br>

      </div>
    </div>
    <div class="parallax"><img src="{% static 'img/backdrop3.jpg'%}" alt="Unsplashed background img 1"></div>
  </div>


  <div class="container">
    <div class="section">

      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <a href="/dictionary_fill/">   <!-- TODO: Изменить ссылку для авторизованного пользователя-->
            <h2 class="center brown-text"><i class="material-icons">bookmark</i></h2>
              </a>
            <h5 class="center">Cловарь</h5>

            <p class="light">В LinguaLern вы можете добавлять слова в словарь, чтобы расширить базу данных и помочь сайту стать более полезным.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">group</i></h2>
            <h5 class="center">Разговорный клуб</h5>

            <p class="light">Разговорный клуб, отличный способ поддерживать непрерывную практику говорения, на интересные вам темы</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">work</i></h2>
            <h5 class="center">Домашние задания</h5>

            <p class="light">Домашние задания помогает сохранять мотивацию, улучшать понимание материала и развивать навыки самостоятельной работы.</p>
          </div>
        </div>
      </div>

    </div>
  </div>


  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h5 class="header col s12 light"></h5>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="{% static 'img/backdrop_1.jpg'%}"  alt="Unsplashed background img 2"></div>
  </div>

  <div class="container">
    <div class="section">

      <div class="row">
        <div class="col s12 center">
          <h3><i class="mdi-content-send brown-text"></i></h3>
          <h4>Начните сейчас</h4>
          <p class="left-align light">Планируйте время для обучения: Изучение языка требует регулярной практики, поэтому планируйте время для занятий. Начните с небольших занятий по 20-30 минут несколько раз в неделю, и постепенно увеличивайте их длительность.
Используйте ресурсы: Сегодня существует множество ресурсов для изучения иностранных языков. Выберите тот, который больше всего подходит вам. Среди популярных ресурсов можно отметить приложения для изучения языков, онлайн-курсы и т.д.</p>
        </div>
      </div>

    </div>
  </div>


  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h5 class="header col s12 light red-text"></h5>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="{% static 'img/backdrop_2.jpg'%}"  alt="Unsplashed background img 3"></div>
  </div>

{% endblock %}
