{% extends 'base_page.html' %}
{% load static %}

{% block pagetitle %} Профиль {% endblock %}

{% block content %}
<div class="container">
        <h1 class="center-align" style="font-size: 18px;">Добро пожаловать, {{ CustomUser.first_name }} </h1>
        <div class="row">
            <div class="col s12">
                <ul class="collection">
                    <li class="collection-item"><strong>Имя:</strong> {{ CustomUser.first_name }}</li>
                    <li class="collection-item"><strong>Фамилия:</strong> {{ CustomUser.last_name }}</li>
                    <li class="collection-item"><strong>Дата рождения:</strong> {{ CustomUser.birth_date }}</li>
                    <li class="collection-item"><strong>Email:</strong> {{ CustomUser.email }}</li>
                    <!-- Другие поля информации о пользователе из базы данных могут быть добавлены здесь -->
                </ul>
            </div>
        </div>
        <p class="center-align">Спасибо за посещение нашего веб-сайта!</p>
    </div>
{% endblock %}